---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
   <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <section class="post-list">
      {%- for post in site.posts -%}
      <div class="post">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
		  
		  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-date">{{ post.date | date: date_format }}</span>
		  
		  
        {%- if site.show_excerpts -%}
		  <div class="post-excerpt">
		  	<div class="post-img"> <img atl="{{ post.title }}" src="{{ post.post-img }}"></div>
		  	<p>{{ post.excerpt }}</p>
		  </div> {%- endif -%}
       
      </div>{%- endfor -%}
      
    </section>

     {%- endif -%}
 

</div>
